.repo-list ul {
  padding:0;
  max-width: 700px;
  margin: 0 auto;
  list-style: none;  
}


.search-bar {
  width: 680px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  
}


.repo-card {
  background: #3a035a;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.repo-card h3 {
  margin: 0;
  font-size: 2rem;
}


.repo-card p {
  margin: 0.5rem 0;
  color: #ccc;
}
.repo-card a {
  color: #61dafb;
  text-decoration: none;
}

.repo-card a:hover {
  text-decoration: underline;
}
.repo-card .repo-description {
  margin-top: 0.5rem;
  color: #bbb;
}
.repo-card .repo-stars {
  color: #f39c12;
  font-weight: bold;
}

.tech-icons {
  
  display: flex;
  margin-top: 0.5rem;
}

.tech-icon {
  
  width: 24px;
  height: 24px;
}