:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #504e52;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

p {
  margin: 0 auto 1.2em;
  max-width: 500px;   

}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h2 {
  font-size: 2.4em;
  line-height: 1.2;
  margin-top: 0;
}
h3{
  font-size: 1.8em;
  line-height: 1.2;
  margin-top: 0;
}

.page.home,
.page.about,
.page.projects,
.page.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #242425;
  padding: 2em;
  max-width: 800px;
  width: 80%;
  margin: auto;
  margin-top: 2em;
  border-radius: 1rem;
  height: 100%;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 2em;
  width: 535px;
}
.repo-card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 1.5em;
  margin: 0 auto 2em;
  width: 70%;
  max-width: 500px;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.fade-enter {
  opacity: 0;
  transform: translateX(-40px);
}
.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 350ms, transform 350ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transform: translateX(40px);
  transition: opacity 350ms, transform 350ms;
}

.cv-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #242425;
  padding: 2em;
  max-width: 800px;
  margin: 2em auto;
  border-radius: 1rem;
  height: 100%;
  color: #fff;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  text-align: left;
}

.cv-container {
  text-align: left;
  max-width: 800px;
  margin: 20px auto;
}

.cv-container p {
  margin: 0 0 1.2em;
  max-width: none;
  text-align: left;
  max-width: 600px;

}

.cv-container h1,
.cv-container h2,
.cv-container ul,
.cv-container li {
  text-align: left;
  max-width: 500px;
}

.cv-container ul {
  padding-left: 1.2rem;
  margin: 0 0 1.2em;
}
.cv-container li {
  margin: 0 0 .4em;
}
.cv-container h2 {
color: white;
}
.cv-container strong{
  font-size: 1.2rem;
}


@media (max-width: 768px) {
  .page.home,
  .page.about,
  .page.projects,
  .page.contact{
    padding: 1em;
    max-width: 90%;
    width: 90%;
  }
  .search-bar {
    width: 90%;
    padding: 0.5em;
  }
  .repo-card {
    width: 90%;
    max-width: 90%;
  }
} 
@media (max-width: 480px) {
  .page.home,
  .page.about,
  .page.projects,
  .page.contact {
    padding: 1em;
    width: 90%;
    max-width: 90%;
  }
  .repo-card {
    width: 90%; 
    max-width: 100%;
    padding: 1em;
  }

  h1 {
    font-size: 2.4em;
  }
  h2 {
    font-size: 1.8em;
  }
  button {
    width: 100%;
    padding: 0.8em;
  }
}
@media (max-width: 320px) {
  .page.home,
  .page.about,
  .page.projects,
  .page.contact {
    padding: 0.8rem;
   width: 90%;
  } 
  .li.repo-card {
    width: 80%; 
    padding: 1em;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.6em;
  }
  button {
    padding: 0.6em;
  }
}

